﻿@model double

@{
    ViewBag.Title = "Mortgage Calculator";
}

<div class="col-sm-12">
    <h2>Interest Rate</h2>
    <div class="col-sm-2">@Html.TextBox("InterestRate", Model)</div>
    <div class="col-sm-2"><input type="button" id="intRate" value="Set" /></div>
</div>

<div class="col-sm-6">
    <h2>Payment</h2>
    <div class="col-sm-4">@Html.Label("Asking Price")</div>
    <div class="col-sm-8">@Html.TextBox("PaymentAskingPrice")</div>
    <div class="col-sm-4">@Html.Label("Down Payment")</div>
    <div class="col-sm-8">@Html.TextBox("PaymentDownPayment")</div>
    <div class="col-sm-4">@Html.Label("Payment Schedule")</div>
    <div class="col-sm-8">@Html.DropDownList("PaymentPaymentSchedule", EnumHelper.GetSelectList(typeof(PaymentFrequency)), new { @class = "btn btn-default" })</div>
    <div class="col-sm-4">@Html.Label("Amortization Period")</div>
    <div class="col-sm-8">@Html.TextBox("PaymentAmortizationPeriod")</div>
    <div class="col-sm-12"><input type="button" id="payCalc" value="Calculate" /></div>
    <div class="col-sm-4">@Html.Label("Payment")</div>
    <div class="col-sm-8">@Html.TextBox("PaymentResult")</div>
</div>

<div class="col-sm-6">
    <h2>Mortgage</h2>
    <div class="col-sm-4">@Html.Label("Payment Amount")</div>
    <div class="col-sm-8">@Html.TextBox("MortgagePaymentAmount")</div>
    <div class="col-sm-4">@Html.Label("Down Payment")</div>
    <div class="col-sm-8">@Html.TextBox("MortgageDownPayment")</div>
    <div class="col-sm-4">@Html.Label("Payment Schedule")</div>
    <div class="col-sm-8">@Html.DropDownList("MortgagePaymentSchedule", EnumHelper.GetSelectList(typeof(PaymentFrequency)), new { @class = "btn btn-default" })</div>
    <div class="col-sm-4">@Html.Label("Amortization Period")</div>
    <div class="col-sm-8">@Html.TextBox("MortgageAmortizationPeriod")</div>
    <div class="col-sm-12"><input type="button" id="mortCalc" value="Calculate" /></div>
    <br />
    <div class="col-sm-4">@Html.Label("Mortgage")</div>
    <div class="col-sm-8">@Html.TextBox("MortgageResult")</div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $('#payCalc').click(function () {
            var jsonPay = {
                "AskingPrice": $('#PaymentAskingPrice').val(),
                "DownPayment": $('#PaymentDownPayment').val(),
                "PaymentSchedule": $('#PaymentPaymentSchedule').val(),
                "AmortizationPeriod": $('#PaymentAmortizationPeriod').val()
            };

            $.ajax({
                url: "@Url.Action("Payment")",
                type: "POST",
                data: JSON.stringify(jsonPay),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
            },
                success: function (response) {
                    $('#PaymentResult').val(response);
                }
            });
        });

        $('#mortCalc').click(function () {
            var jsonMort = {
                "PaymentAmount": $('#MortgagePaymentAmount').val(),
                "DownPayment": $('#MortgageDownPayment').val(),
                "PaymentSchedule": $('#MortgagePaymentSchedule').val(),
                "AmortizationPeriod": $('#MortgageAmortizationPeriod').val()
            };

            $.ajax({
                url: "@Url.Action("Mortage")",
                type: "POST",
                 data: JSON.stringify(jsonMort),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    alert(response.responseText);
            },
                success: function (response) {
                    $('#MortgageResult').val(response);
                }
            });
        });

        $('#intRate').click(function () {
            var jsonRate = {
                "NewInterestRate": $('#InterestRate').val()
            };

            $.ajax({
                url: "@Url.Action("InterestRate")",
                type: "POST",
                data: JSON.stringify(jsonRate),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response);
                }
            });
        });
    });
</script>